<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>../tests/unit</directory>
        </testsuite>
        <testsuite name="Functional Tests">
            <directory>../tests/functional</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">

        <include>
            <directory suffix=".php">../src</directory>
        </include>

        <report>
            <html outputDirectory="../var/code-coverage/html"
                  lowUpperBound="50"
                  highLowerBound="90"/>
            <clover outputFile="../var/code-coverage/clover/coverage.xml" />
        </report>
    </coverage>

</phpunit>